$blue: #04049a;
$yellow: #d8ad01;

.App {
  * {
    box-sizing: border-box;
  }

  header {
    background: $blue;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 4fr;

    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-left: 30px;

          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 4px;

            &.active {
              color: $blue;
              background: white;
              border-radius: 4px;
            }
          }
        }        
      }
    }
  }

  footer {
    background: $blue;
    padding: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page-content {
    padding: 20px 40px;
    margin-bottom: 80px;

    img {
      margin: 0 10px;
      border-radius: 6px;
    }
  }  

  .search-input input {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .pet-table {
    border: 1px solid $blue;
    box-shadow: inset -10px -10px 0px -7px $blue;
    border-radius: 10px;

    input[type=button] {
      padding: 4px 16px;
      font-size: 12px;
      margin-right: 10px;
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    table {
      width: 100%;
      padding: 10px;

      thead tr th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }

  .inventory-dialog {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255,0.8);

    .dialog-content {
      position: relative;
      background: #ffffff;
      padding: 40px;
      width: 50%;
      margin: auto;
      margin-top: 200px;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: -10px 10px 50px -5px rgba(0, 0, 0, 0.2), inset 0px 3px 30px -15px rgba(0, 0, 0, 0.2); 

      .close-button {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 20px;
        line-height: 1;
        color: white;
        background: black;
        border-radius: 2000px;
        padding: 4px 8px;
        cursor: pointer;
      }

      h3 {
        margin: 0 0 20px 0;
      }

      input[type=number],
      input[type=text],
      textarea {
        font-family: sans-serif;
        font-size: 14px;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.5);  
      }
      
      label {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  input[type=button] {
    font-size: 14px;
    font-weight: bold;
    background: $blue;
    padding: 10px 26px;
    border: 1px solid $blue;
    border-radius: 20px;
    color: white;
  }

  .action-button {
    margin-top: 10px;
  }

  .actions {
    margin: 30px 0;
  }
}